.section4{
    min-height: 100dvh;
    width: 100%;
    position: relative;
}

.graph-line, .main-graph{
    position: absolute;
    opacity: 0.4;
}

.section4 p{ 
    font-size: 3em;
    z-index: 10;
    overflow: hidden;
}

.cover{
    position: absolute;
    width: 700px;
    height: 380px;
    background-color: #121212;
    z-index: 9;
}

.line1,.line2,.line3{
    display: block;
    text-align: center;
}


.high-name, .high-rate{
    font-size: 1.7em;
    background-color: #ff0000;
    padding: 0 6px;
    border-radius: 10px;
    text-wrap: nowrap;
}
.line3{
    display: flex;
    justify-self: start;
    gap: .2em;
    margin-top: .1em;
    flex-wrap: wrap;
    align-items: start;
}
.crop{
    width: 85px;
    height: 70px;
    /* background-color: aliceblue; */
    overflow: hidden;
    transform: rotate(97deg);
}
.crop img{
    margin-top: 15px;
    width: 85px;
    /* z-index: -1; */
}

@media (max-width: 1150px) {
    .section4 p{ 
        font-size: 2.5em;
    }
    .crop{
        width: 63px;
        height: 53px;
        /* background-color: aliceblue; */
    }
    .crop img{
        margin-top: 15px;
        width: 63px;
    }
}
@media (max-width: 790px) {
    .section4 p{ 
        font-size: 1.5em;
    }
    .crop{
        width: 41px;
        height: 36px;
        /* background-color: aliceblue; */
    }
    .crop img{
        margin-top: 7px;
        width: 43px;
    }
}

@media (max-width: 700px){
    .graph-line svg, .main-graph svg{
        width: 80vw;
    }
    .cover{
        width: 75vw;
        /* height: 40vh; */
    }
    .graph-line, .main-graph{
        opacity: 0.6;
    }
}